/* externos */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap");
/* misc */
/* colors */
/* spacings */
/* font fasmily */
/* font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Raleway, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    background-color: rebeccapurple; }
  html a {
    text-decoration: none; }
  html img {
    width: 100%; }

/* partials */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  width: 100%;
  padding: 0 2em;
  position: fixed;
  z-index: 5;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .header__ico {
    width: 100px; }
    .header__ico a {
      color: #2A9D8F; }
    .header__ico img {
      width: 100%; }
  .header__vinculos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40em;
    font-family: "Raleway", sans-serif; }
    .header__vinculos .vinculo {
      color: white;
      font-size: 1.4em;
      font-weight: 570;
      letter-spacing: 0.07rem;
      background-image: linear-gradient(90deg, #E9C46A, #E9C46A);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: left bottom;
      transition: all 0.3s ease; }
    .header__vinculos .vinculo:hover {
      color: #E9C46A;
      background-size: 100% 2px; }
    .header__vinculos .vinculo--observer {
      color: #E9C46A;
      background-size: 100% 2px; }
  .header .button {
    width: 12.5em;
    height: 2.5em;
    font-size: 14px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header .button::after,
  .header .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s; }
  .header .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 20px;
    cursor: pointer; }
  .header .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    cursor: pointer; }
  .header .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%; }
  .header .button:hover::after {
    border-radius: 20px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%; }
  .header .button:active::after {
    transition: 0s;
    transform: translate(0, 5%); }

#icoHeader {
  margin-left: 7px;
  width: 14px; }

.footer {
  width: 100%;
  height: 150px;
  background-color: #2A9D8F;
  position: relative; }
  .footer__img {
    width: 740px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
    z-index: 0; }
  .footer .footer__container {
    width: 100%;
    height: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column; }
    .footer .footer__container .footer__top {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      border-bottom: 1px solid white;
      z-index: 1; }
      .footer .footer__container .footer__top .footer__ico {
        width: 100px; }
        .footer .footer__container .footer__top .footer__ico a {
          color: #2A9D8F; }
        .footer .footer__container .footer__top .footer__ico img {
          width: 100%; }
      .footer .footer__container .footer__top .footer__contacto {
        font-size: 1.6em;
        color: white;
        text-align: center; }
        .footer .footer__container .footer__top .footer__contacto a {
          color: white; }
        .footer .footer__container .footer__top .footer__contacto a:link {
          color: white; }
        .footer .footer__container .footer__top .footer__contacto a:visited {
          color: white; }
        .footer .footer__container .footer__top .footer__contacto .text-front {
          color: #E9C46A;
          font-style: bold; }
    .footer .footer__container .footer__bottom {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1; }
      .footer .footer__container .footer__bottom .footer__texto {
        font-size: 1.6em;
        color: white; }
      .footer .footer__container .footer__bottom .footer__redes {
        width: 100px;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white; }
        .footer .footer__container .footer__bottom .footer__redes a {
          width: 25%; }
          .footer .footer__container .footer__bottom .footer__redes a .ico-redes-footer {
            height: 100%;
            width: 100%;
            color: white;
            transition: all 0.7s; }
          .footer .footer__container .footer__bottom .footer__redes a .ico-redes-footer:hover {
            transform: scale(1.2);
            color: #E76F51; }

/* pages */
/*--------- Seccion pprincipal ---------*/
.principal {
  background: linear-gradient(#2A9D8F 0%, #264653 77%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125vh; }
  .principal__img1 {
    position: absolute;
    width: 70em;
    left: 0;
    top: 0; }
  .principal__img2 {
    position: absolute;
    width: 15em;
    right: 2em;
    top: 3em; }
  .principal__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; }
    .principal__titulo p {
      font-size: 5em;
      line-height: 1.5em;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
      margin: 0px; }
    .principal__titulo h1 {
      font-size: 8em;
      line-height: 1.5em;
      letter-spacing: 2px;
      font-family: "Merriweather", serif; }
    .principal__titulo h2 {
      font-size: 5em;
      line-height: 1.5em;
      font-weight: 500;
      font-family: "Raleway", sans-serif;
      margin: 0px; }
  .principal__redes {
    display: flex;
    justify-content: center;
    width: 100%; }
    .principal__redes a {
      width: 3em;
      color: white;
      margin: 2rem 2.4rem; }
    .principal__redes .ico-redes {
      transition: all 0.7s; }
    .principal__redes .ico-redes:hover {
      transform: scale(1.2);
      color: #E76F51; }
  .principal__btn {
    cursor: pointer;
    width: 6em;
    position: relative;
    margin: 5em;
    transition: transform 0.7s; }
    .principal__btn a {
      color: #E9C46A; }
  .principal__btn:hover {
    transform: scale(1.2); }

.principal::before {
  background-color: #264653;
  border-radius: 64px;
  bottom: -145px;
  content: "";
  height: 248px;
  left: 0px;
  margin: auto;
  position: absolute;
  right: 0px;
  transform: rotate(45deg);
  width: 248px; }

/*---------------- titulo ---------------*/
.section-titulo {
  font-size: 7em;
  color: #E9C46A;
  font-family: "Merriweather", serif;
  letter-spacing: 8px; }

/*------------ Seccion informacion ----------*/
.informacion {
  height: 110vh;
  background-color: #264653;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5%; }
  .informacion__contenedor {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .informacion__contenedor .img3 {
      width: 26em;
      position: absolute;
      bottom: 0px;
      left: 55%; }
    .informacion__contenedor .imagenes {
      background-color: #E9C46A;
      width: 355px;
      height: 475px;
      position: relative;
      z-index: 1; }
      .informacion__contenedor .imagenes .img1 {
        width: 10em;
        position: absolute;
        left: -10%;
        top: -10%; }
      .informacion__contenedor .imagenes .img2 {
        width: 355px;
        height: 475px;
        z-index: 1; }
  .informacion__titulo {
    width: 50%;
    height: 80%;
    z-index: 1; }
    .informacion__titulo ul {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .informacion__titulo ul .item {
        color: #E9C46A;
        background-size: 100% 2px; }
      .informacion__titulo ul li {
        list-style: none;
        font-size: 2.2em;
        color: white;
        margin-bottom: 10px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 4px;
        cursor: pointer;
        padding: 8px 16px;
        margin-right: 40px;
        background-image: linear-gradient(90deg, #E9C46A, #E9C46A);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: color 0.5s, background-size 0.5s; }
      .informacion__titulo ul li:hover {
        color: #E9C46A;
        background-size: 100% 2px; }
  .informacion__texto .info-none {
    display: none; }
  .informacion__texto .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px; }
    .informacion__texto .info span {
      color: #E9C46A;
      font-weight: bold; }
  .informacion__texto #infoSkills {
    display: flex;
    justify-content: space-around;
    flex-direction: row; }
    .informacion__texto #infoSkills div {
      width: 45%;
      min-width: 20%; }
  .informacion__texto p {
    font-size: 1.6em;
    color: white;
    letter-spacing: 2px;
    line-height: 2em; }
    .informacion__texto p img {
      width: 20px; }
    .informacion__texto p a:link {
      color: #E9C46A; }
    .informacion__texto p a:visited {
      color: #E9C46A; }
  .informacion__texto .texto__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    width: 100%; }
    .informacion__texto .texto__btn button {
      align-items: center;
      background-image: linear-gradient(144deg, #e9c46a, #F4A261 50%, #E76F51);
      border: 0;
      border-radius: 20px;
      box-shadow: rgba(233, 196, 106, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: "Merriweather", serif;
      font-size: 18px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      transition: all .3s; }
    .informacion__texto .texto__btn button:active,
    .informacion__texto .texto__btn button:hover {
      outline: 0; }
    .informacion__texto .texto__btn button span {
      background-color: #252e42;
      padding: 10px 24px;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      transition: 300ms;
      display: flex;
      align-items: center; }
      .informacion__texto .texto__btn button span .ico {
        margin-left: 10px;
        width: 18px; }
    .informacion__texto .texto__btn button:hover span {
      background: none; }
    .informacion__texto .texto__btn button:active {
      transform: scale(0.9); }

/*------------ Seccion portafolio ----------*/
.portafolio {
  height: 100vh;
  background: linear-gradient(#264653 0%, #2A9D8F 77%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5% 5%;
  flex-direction: column;
  position: relative; }
  .portafolio__img {
    width: 150px;
    position: absolute;
    z-index: 0;
    top: 25%;
    right: 20px; }
  .portafolio__proyectos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 20px;
    /*Hover*/ }
    .portafolio__proyectos .proyecto {
      width: 49%;
      height: 300px;
      border-radius: 20px;
      padding: 5px;
      background-color: #E76F51;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2); }
      .portafolio__proyectos .proyecto .proyecto__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        padding: 5px; }
        .portafolio__proyectos .proyecto .proyecto__img img {
          width: 100%;
          height: 100%;
          border-radius: 15px; }
      .portafolio__proyectos .proyecto .proyecto__info {
        position: relative;
        z-index: 3;
        color: #f5f5f5;
        opacity: 0;
        transform: translateY(20%);
        transition: .7s;
        background-color: #252e42;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
        .portafolio__proyectos .proyecto .proyecto__info .info__titulo {
          font-size: 2.2em;
          font-family: "Merriweather", serif;
          color: #E9C46A; }
        .portafolio__proyectos .proyecto .proyecto__info .info__skills {
          display: flex;
          flex-direction: row;
          column-gap: 25px;
          font-size: 1.6em; }
        .portafolio__proyectos .proyecto .proyecto__info .info__btn {
          display: flex;
          column-gap: 50px; }
          .portafolio__proyectos .proyecto .proyecto__info .info__btn .card-button {
            padding: 0.6rem;
            outline: none;
            border: none;
            border-radius: 20px;
            background: #E76F51;
            color: white;
            font-size: 1.6em;
            transition: 0.4s ease;
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
        .portafolio__proyectos .proyecto .proyecto__info .card-button:hover {
          background: rgba(218, 77, 77, 0.4);
          color: #f5f5f5; }
    .portafolio__proyectos .proyecto:hover {
      transform: translateY(5%); }
    .portafolio__proyectos .proyecto:hover .proyecto__info {
      opacity: 1;
      transform: translateY(0); }
