@use './misc/variables' as *;

/*--------- Seccion pprincipal ---------*/
.principal{
    background: linear-gradient($color-secondary 0%, $color-primary 87%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;

    &__img1{
        position: absolute;
        width: 70em;
        left: 0;
        top: 0;
    }

    &__img2{
        position: absolute;
        width: 15em;
        right: 2em;
        top: 3em;
    }

    &__titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $text-color;
        p{
            font-size: 5em;
            line-height: 1.5em;
            font-weight: 500;
            font-family: $font-secondary;
            margin: 0px;
        }
        h1{
            font-size: 8em;
            line-height: 1.5em;
            letter-spacing: 2px;
            font-family: $font-primary;
            text-align: center;
        }
        h2{
            font-size: 5em;
            line-height: 1.5em;
            font-weight: 500;
            font-family: $font-secondary;
            margin: 0px;
        }
    }

    &__redes{
        display: flex;
        justify-content: center;
        width: 100%;

        a{
            width: 3em;
            color: white;
            margin:2rem $spacing-small;
        }

        .ico-redes{
            transition: all 0.7s;
        }
        
        .ico-redes:hover{
            transform: scale(1.2);
            color: $color-quarter;
        }
    }

    &__contenedor{
        width: 250px;
        height: 250px;
        background-color: $color-primary;
        position: absolute;
        bottom: -170px;
        transform: rotate(45deg);
        border-radius: 20%;
        clip-path: polygon(0 0, 0 100%, 100% 0);

        .btn-principal{
            cursor: pointer;
            width: 50px;
            height: 50px;
            padding: 10px;
            position:relative;
            transition: transform 0.7s;
            left:10%;
            top: 10%;
            background-color: $color-tertiary;
            border-radius: 50%;
            
            a{
                color: $color-primary;

                .btn-ico{
                    font-size: 30px;

                }
            }
        }
    
        .btn-principal:hover{
            transform: scale(1.2);
        }
    }
}

/*---------------- titulo ---------------*/
.section-titulo{
    font-size: $font-large;
    color: $color-tertiary;
    font-family: $font-primary;
    letter-spacing: 5px;
    width: 100%;
}

/*------------ Seccion informacion ----------*/
.informacion{
    min-height: 110vh;
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    gap: 20px 10px;

    &__contenedor{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        
        .img3{
            width: 26em;
            position: absolute;
            bottom: -40px;
            left: 55%;
        }

        .imagenes{
            background-color: $color-tertiary;
            min-width: 300px;
            position: relative;
            z-index: 1;
            display: flex;
            .img1{
                width: 10em;
                position: absolute;
                left: -10%;
                top: -10%;
            }
            .img2{
                width: 100%;
                z-index: 1;
            }
            
        }
    }

    &__titulo{
        width: 50%;
        height: 80%;
        z-index: 2;
        min-width: 430px;
        position: relative; 

        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .item{
                color: $color-tertiary;
                background-size: 100% 2px;
            }

            li{
                list-style: none;
                font-size: $font-medium;
                color: $text-color;
                margin-bottom: 10px;
                font-weight: 700;
                text-align:center;
                letter-spacing: 4px;
                cursor: pointer;
                padding:8px 16px ;
                margin-right:30px;

                background-image: linear-gradient(90deg,$color-tertiary, $color-tertiary);
                background-size: 0% 2px;
                background-repeat: no-repeat;
                background-position: left bottom;
                transition: color 0.5s, background-size 0.5s ;
            }
            li:hover{
                color: $color-tertiary;
                background-size: 100% 2px;
            }
        }

        .titulo__texto{

            .info-viewport {
                overflow: hidden; 
                width: 100%;
                position: relative; 
                z-index: 10;
            }

            .info-slider {
                display: flex;
                transition: transform 0.5s ease-in-out; 
            }

            .info-panel {
                width: 100%; 
                flex-shrink: 0; 
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 20px;
                
                span{
                    color: $color-tertiary;
                    font-weight: bold;
                }
            
                p{
                    font-size: $font-base;
                    color: $text-color;
                    letter-spacing: 2px;
                    line-height: 2em;
        
                    img{
                        width: 20px;
                    }
        
                    a:link{
                        color: $color-tertiary;
                    }
                    
                    a:visited{
                        color: $color-tertiary;
                    }
                }
            }

            #infoSkills{
                display: flex;
                justify-content: space-around;
                flex-direction: row; 
                
                div{ 
                    width: 48%; 
                }

                .info-none {
                    display: none;
                }
            }
    
    
            .texto__btn{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin: 20px 0;
                width: 100%;
    
                button {
                    align-items: center;
                    background-image: linear-gradient(144deg,#e9c46a, #F4A261 50%,#E76F51);
                    border: 0;
                    border-radius: 20px;
                    box-shadow: rgba(233, 196, 106, 0.2) 0 15px 30px -5px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    display: flex;
                    font-family: $font-primary;
                    font-size: 18px;
                    justify-content: center;
                    line-height: 1em;
                    max-width: 100%;
                    min-width: 140px;
                    padding: 3px;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                    transition: all .3s;
                   }
                   
                   button:active,
                   button:hover {
                    outline: 0;
                   }
                   
                   button span {
                    background-color: rgb(37, 46, 66);
                    padding: 10px 24px;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    transition: 300ms;
                
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .ico{
                        margin-left: 10px;
                        width: 18px;
                    }
                   }
                   
                   button:hover span {
                    background: none;
                   }
                   
                   button:active {
                    transform: scale(0.9);
                   }
            }
        }
    }
}

/*------------ Seccion portafolio ----------*/

.portafolio{
    min-height: 100vh;
    background: linear-gradient($color-primary 0%, $color-secondary 77%);
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    padding: 5% 5%;
    flex-direction: column;
    position: relative;

    &__img{
        width: 150px;
        position: absolute;
        z-index: 0;
        top: 25%;
        right: 20px;
    }

    &__proyectos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        gap: 20px;
        width: 100%;

        .proyecto {
            width: 100%;
            max-width: 500px;
            height: 300px;
            margin: 0 auto;
            padding: 3px;
            background-color: $color-quarter;
            position: relative;
            display: flex;
            align-items: flex-end;
            transition: 0.4s ease-out;
            box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
            
            .proyecto__img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                padding: 3px;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .proyecto__info {
                position: relative;
                z-index: 3;
                color: #f5f5f5;
                opacity: 0;
                transform: translateY(20%);
                transition: .7s;
                background-color: rgb(37, 46, 66);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                .info__titulo{
                    font-size: $font-medium;
                    font-family: $font-primary;
                    color: $color-tertiary;
                }

                .info__skills{
                    max-width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    font-size: $font-base;
                }

                .info__btn{
                    display: flex;
                    column-gap: 50px;

                    .card-button {
                        padding: 0.6rem;
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        background: $color-quarter;
                        color: white;
                        font-size: $font-base;
                        transition: 0.4s ease;
                        width: 150px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                .card-button:hover {
                    background: rgba(218, 77, 77, 0.4);
                    color: #f5f5f5;
                }
            }
        }
        /*Hover*/
        .proyecto:hover {
            transform: translateY(5%);
        }
           
        .proyecto:hover .proyecto__info {
            opacity: 1;
            transform: translateY(0);
        }
    }
}