/* 
320px - 767px Mobile
768px - 1023px Tablet
1024px - 4kpx Pc
*/
@media screen and (max-width: 1023px) { //tablet
    .principal{
        &__titulo{
            p{
                font-size: 4em;

            }
            h1{
                font-size: 7em;
            }
            h2{
                font-size: 4em;
            }
        }
    }

    .section-titulo{
        font-size: 5em;
    }

    .footer{
        &__img{
            width: 500px;
        }
    }
    
}

@media screen and (max-width: 767px) { //mobile
    .section-titulo{
        font-size: 4em;
        text-align: center;
    }
    
    .header{
        &__vinculos{
            display: none;
        }
        .burger{
            display: block;
        }
    }
    
    .principal{
        &__img1{
            width: 42.5em;
        }
        &__img2{
            width: 10em;
        }

        &__titulo{
            p{
                font-size: 2em;

            }
            h1{
                font-size: 5em;
            }
            h2{
                font-size: 2em;
            }
        }
    }

    .informacion{
        flex-direction: column-reverse;
        height: 200vh;

        &__contenedor{
            .img3{
                display: none;
            }
        }

        &__titulo{
            width: 100%;
            height: 60%;
            min-width: 320px;

            ul{
                width: 100%;
                justify-content: space-around;

                li{
                    margin-right: 0px;
                }
            }
        }

        .titulo__texto{

            .texto__btn{
                row-gap: 20px;
                flex-direction: column;

                a{
                    width: 70%;
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .section-titulo{
        font-size: 3em;
    }
    
    .principal{
       &__img1{
        display: none;
       }

       &__contenedor{
        width: 200px;
        height: 200px;
        bottom: -115px;
       }
    }

    .informacion{
        &__titulo{
            ul{


                li{
                    font-size: 1.5em;
                }
            }
        }
    }
    .portafolio{
        &__img{
            display: none;
        }
        
        &__proyectos{
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            
            .proyecto{
                height: 200px;

                .proyecto__info{
                    .info__skills{
                        font-size: 1.4em;
                        justify-content: center;
                        gap: 10px;
                    }
                    .info__btn{
                        .card-button{
                            width: 100px;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }

    .footer{
        .footer__container{
            .footer__bottom{
                .footer__texto{
                    font-size: 1.3em;
                }
            }
        }
    }
}



