 /* colors */
   $color-primary:#264653;
   $color-secondary:#2A9D8F;
   $color-tertiary:#E9C46A;
   $color-quarter:#E76F51;
   $text-color:white;

 /* spacings */
 $spacing-small:2.4rem;
 
 /* font fasmily */
 $font-primary:'Merriweather', serif;
 $font-secondary:'Raleway', sans-serif;

 /* font sizes */
 $font-large:6.0em;
 $font-medium:2.2em;
 $font-base:1.6em;
 $font-small:1.4em;